/* we created the main container with 3 columns */
#mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* column-gap: 10px;
    row-gap: 10px; */
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .frotclass {
   border-width: thick;
    

  }
  /* we made the page responsive by changing the grid-template-columns from having 3 columns to 2 cloumns only when the screen size go below 600px  */
  @media (max-width: 600px) {
    #mainContainer {
        
      grid-template-columns: 1fr 1fr;
        
    }
  }
  /* we made the page responsive by changing the grid-template-columns from having 2 columns to 1 cloumn1 only when the screen size go below 400px  */
  @media (max-width: 400px) {
    #mainContainer {
      grid-template-columns: 1fr;
    }
  }
.img{
width: 180;
height: 180;
}
.h1{
    text-align: center;
}
.body{
    background-color: aquamarine;
}

